@font-face {
    font-family: "Norse Bold";
    src: url(fonts/Norse-Bold.woff)
}

body {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    
}

.left-container {
    display: flex;
    padding: 0;
    height: 100%;
    width: 30vw;
    position: relative;
}

.left-container img {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 22%;
    height: 15%;
    width: 100%;
    background-color: 	rgba(0, 0, 0, 0.5);
}

#logo-wrapper img {
    max-height: 90%;
    width: auto;
    align-self: center;
}

#logo-wrapper p {
    font-size: 100px;
    color: white;
    font-family: "Norse Bold", Arial, Helvetica, sans-serif;
}

#footer {
    position: absolute;
    top: 95%;
    left: 25%;
    color: white;
    font-size: 15px;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    padding: 0;
    background-color: rgba(245, 245, 245, 0.719);
}

.right-container p {
    padding-left: 25px;
}

.hero {
    height: 80%;
    width: auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.hero #top-text {
    margin-top: 50px;
}

.hero #bottom-text {
    margin-top: -20px;
}

.form-wrapper {
    height: 100%;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight:
}

.form-wrapper p {
    padding-top: 0;
    padding-left: 25px;
    margin-top: 15px;
    font-weight: bold;
}

form div {
    float: left;
    padding-right: 2em;
    padding-left: 25px;
}

input,
label {
    display: block;
    margin: 10px;
}

input {
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(73, 70, 70);
    padding: 3px;
    border-color: rgba(226, 220, 220, 0.678);
    border-width: 2px;
}

input:focus {
    border-color: rgb(43, 111, 212);
    outline: none;
}

input:invalid {
    border-color: red;
    
}

.login-wrapper {
    height: 80%;
    width: auto;
    padding-left: 25px;
    padding-top: 25px;
    margin-bottom: -40px;
}

.login-wrapper p {
    padding-top: 5px;
    padding-left: 0;
}

button {
    width: 170px;
    height: 45px;
    background-color: #596D48;
    border-radius: 6px;
    font-size: 15px;
    padding: 15px;
    margin: 0;
    border: none;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #6c8556;
}

button:active {
    background-color: #58664a;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}